/* CSS Reset */
body, h1, h2, h3, p, ul, li, nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

/* Header Styling */
header {
    background-color: #b8b5b5;
    color: white;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
}

nav a {
    text-decoration: none;
    color: black;
}


/* About Section Styling */
#about {
    text-align: center;
    padding: 2em;
    background-color: #c0bebe;
}

#about img {
    width: 150px;
    border-radius: 50%;
    image-rendering: crisp-edges;
}  

#about p {
    margin: 1em;
    color: black;
}

#skills {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background-color: #c0bebe;
    flex-wrap: wrap;
    color:black
}

.skill {
    flex: 1;
    width: 30%;
    padding: 1em;
    margin: 1em;
    background-color: #949292;
    color: rgb(7, 0, 0);
    text-align: center;
}

/* Projects Section Styling */
#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#projects .project {
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #5a5a5a;
}
#projects h3,p {
    color: white;
}
#projects img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 8px;
}

#contact {
    background: #777777;
    padding: 2em;
    text-align: center;
}

#contact h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}